<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text to Morse Code</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
     <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>
  <div class="container">
    <div class="title">
        <h1>Text to Morse Code</h1>
        <h3> Type your text in the left-hand box, and it will automatically be converted to Morse code in the right-hand box.</h3>
    </div>
    <div class="text_area">

        <div class="text">
            <h2>Text</h2>
            <textarea  id="text-area"></textarea>
        </div>
        <div class="morse-code">
            <h2>Morse Code</h2>
            <textarea  id="morse-area"> </textarea>
        </div>
    </div>

 <footer>
    <p>&copy; <span>2025</span> Pshinwari. All rights reserved.</p>
 </footer>
  </div>

  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>